<footer class="full-footer">
    <div class="container-fluid p-md-3 p">
        <div class="row">
            <div class="col">
                <img src="/images/Automotive-Swap-logo.jpeg" alt="Automotive Swap Logo">
                <br><br>
                <p>Automotive Swap is a place where you can swap cars for free with others</p>
                <a href="#" class="p-1"><i class="fa fa-2x fa-brands fa-facebook"></i></a>
                <a href="#" class="p-1"><i class="fa fa-2x fa-brands fa-instagram"></i></a>
                <a href="#" class="p-1"><i class="fa fa-2x fa-brands fa-twitter"></i></a>
            </div>
            <div class="col">
                <h3> Our Services </h3>
                <a href="/trades">Swap Affordable Cars</a>
                <br>
                <a href="/trades">Swap Premium Cars</a>
            </div>
            <div class="col">
                <h3>Contact Us</h3>
                <a href="tel:+19809999999"><i class="fa fa-solid fa-phone"></i> +(1) 980-999-9999</a> <br>
                <a href="mailto:automotiveswap@gmail.com"><i class="fa fa-solid fa-envelope"></i> +automotiveswap@gmail.com</a>
            </div>
            <div class="col">
                <p>Automotive Swap &copy; | 2023<p>
                <a href="/about">About Us</a>
                <br>
                <a href="/contact">Contact Us</a>
            </div>
        </div>
    </div>
</footer>


</body>
</html>