<%- include('./partials/header.ejs')%>
<div class="mainContentIndex">
    <h2>About Us</h2>
    <br> 
    <p>
        Welcome to Automotive Swap, your one-stop destination for all types of cars. Our online marketplace connects car enthusiasts from all around the world, providing them with a reliable and efficient platform to swap cars.
        <br><br>
        At Automotive Swap, we understand the importance of quality and reliability when it comes to cars. That's why we only list cars from trusted and verified owners.
        <br><br>
        Our team at Automotive Swap is made up of car enthusiasts who are passionate about all things automotive. We take pride in providing our customers with a seamless and hassle-free shopping experience, from browsing our extensive catalog of products to securely checking out and receiving their purchases in a timely manner.
        <br><br>
        Thank you for choosing Automotive Swap as your go-to destination for swaping the car. We're committed to providing you with the best possible service, and we look forward to serving you for years to come.
    </p>
</div>
<%- include('./partials/footer.ejs')%>
