<%- include('./partials/header.ejs')%>
    <div class="mainContentIndex">
        <h2>Welcome to Automotive Swap! </h2>
        <br> 
        <p>Automotive swap website is an online platform where people can exchange their vehicles without going through the traditional process of buying or selling. Users can list their cars, and browse through other listings to find a suitable match. The site offers a convenient way for car owners to switch their vehicles without having to worry about the hassle and expense of selling or buying a new car.</p>
    </div>
<%- include('./partials/footer.ejs')%>
